.char-search-results {
  width: 250px;
}

.char-select {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.char-select img {
  width: 50px;
  margin-right: 5px;
}